.header {
    background-color: coral;
    min-height: 9vmin;
    display: flex;

}

body {
   font-family: cursive;
   font-size: medium;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: chocolate;
}

.projects, .about{
    margin-right: 10vmin;
    text-decoration: none;
}

a{
    font-size: 3vmin; 
}

.test{
    color:black; 
}

.links {
    margin-left: 5vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    margin-right: 5vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    border: 10px chocolate;
}

.logo {
    width: 100px;
}



img{
    max-width: 50%;
    max-height: 40vmin;
}
.project_1, .project_2, .project_3{
    display: flex;
   flex-direction: column;
   align-items: center;
   background-color: blue;
    margin-left: 30vmin;
    margin-right: 30vmin;
    margin-top: 10vmin;
    border-color: coral ;
    border: 10px coral solid ;
    border-radius: 25px;
    padding-top:3vmin; 
    padding-bottom:3vmin; 
 

}
